In [12]:
import pandas as pd
import psycopg2 as pg
import sqlalchemy as sqa
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [21]:
POSTGRES_ADDRESS = 'localhost'
POSTGRES_PORT = '5433'
POSTGRES_USERNAME = 'clinicuser'
POSTGRES_PASSWORD = 'QI~A|iD%@8cE&&y3iAp*'
POSTGRES_DBNAME = 'staging_test'

In [22]:
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}' .format(username=POSTGRES_USERNAME, password=POSTGRES_PASSWORD, ipaddress=POSTGRES_ADDRESS, port=POSTGRES_PORT, dbname=POSTGRES_DBNAME))

cnx = create_engine(postgres_str)

In [25]:
sql_query_nbew = "select * from kis.nbew;"
nbew = pd.read_sql_query(sql_query_nbew,cnx)
print(nbew.info(max_cols=300, verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618465 entries, 0 to 618464
Data columns (total 45 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   einri          618465 non-null  object
 1   falnr          618465 non-null  object
 2   lfdbew         618465 non-null  int64
 3   bewty          618465 non-null  object
 4   bwart          618465 non-null  object
 5   bwidt          618465 non-null  object
 6   bwizt          618465 non-null  object
 7   planb          618465 non-null  bool
 8   statu          618465 non-null  object
 9   bwedt          618465 non-null  object
 10  bwezt          618465 non-null  object
 11  plane          618465 non-null  bool
 12  lfdref         0 non-null       object
 13  notkz          618465 non-null  bool
 14  unfkz          618465 non-null  object
 15  orgfa          618465 non-null  object
 16  orgpf          618465 non-null  object
 17  zimmr          618465 non-null  object
 18  bett           618465 non-null  object
 19  planr          618465 non-null  object
 20  orgau          618465 non-null  object
 21  ezust          618465 non-null  object
 22  todur          618465 non-null  object
 23  erdat          618465 non-null  object
 24  updat          433486 non-null  object
 25  storn          618465 non-null  bool
 26  stdat          40706 non-null   object
 27  bekat          618465 non-null  object
 28  nfgref         0 non-null       object
 29  vgnref         0 non-null       object
 30  stoid          618465 non-null  object
 31  dspty          618465 non-null  object
 32  visty          618465 non-null  object
 33  bwgr1          618465 non-null  object
 34  bwgr2          618465 non-null  object
 35  tpart          618465 non-null  object
 36  unfvs          618465 non-null  bool
 37  insev          618465 non-null  object
 38  opart          618465 non-null  object
 39  class          618465 non-null  object
 40  rfsrc          618465 non-null  object
 41  fachr          618465 non-null  object
 42  unfrt          618465 non-null  object
 43  unfav          618465 non-null  object
 44  retrievaldate  618465 non-null  datetime64[ns]
dtypes: bool(5), datetime64[ns](1), int64(1), object(38)
memory usage: 191.7+ MB
None

In [34]:
sql_query_ndia = "select * from kis.ndia;"
ndia = pd.read_sql_query(sql_query_ndia,cnx)
print(ndia.info(max_cols=300, verbose=True, memory_usage=False))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1712034 entries, 0 to 1712033
Data columns (total 46 columns):
 #   Column         Dtype
---  ------         -----
 0   einri          object
 1   falnr          object
 2   lfdnr          int64
 3   lfdbew         int64
 4   dkat1          object
 5   dkey1          object
 6   dkat2          object
 7   dkey2          object
 8   dkat_ref       object
 9   dkey_ref       object
 10  diadt          object
 11  diazt          object
 12  anzop          int64
 13  ewdia          bool
 14  bhdia          bool
 15  afdia          bool
 16  endia          bool
 17  fhdia          bool
 18  khdia          bool
 19  opdia          bool
 20  sperr          bool
 21  diasi          object
 22  erdat          object
 23  updat          object
 24  storn          bool
 25  stdat          object
 26  ardia          bool
 27  podia          bool
 28  tudia          bool
 29  diabz          bool
 30  diapr          object
 31  diagw          object
 32  diazs          object
 33  dialo          object
 34  diafp          object
 35  drg_dia_seqno  int64
 36  drg_category   object
 37  drg_relvant    bool
 38  dtyp1          object
 39  dtyp2          object
 40  dtype_ref      object
 41  dia_link       int64
 42  ccl            int64
 43  dia_valdt      object
 44  dia_pia_som    bool
 45  retrievaldate  datetime64[ns]
dtypes: bool(15), datetime64[ns](1), int64(6), object(24)None

In [36]:
sql_query_nfal = "select * from kis.nfal;"
nfal = pd.read_sql_query(sql_query_nfal,cnx)
print(nfal.info(max_cols=300, verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669684 entries, 0 to 669683
Data columns (total 40 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   einri          669684 non-null  object
 1   falnr          669684 non-null  object
 2   falar          669684 non-null  object
 3   patnr          669684 non-null  object
 4   bekat          669684 non-null  object
 5   abrkz          669684 non-null  object
 6   sichv          669684 non-null  bool
 7   statu          669684 non-null  object
 8   notan          669684 non-null  bool
 9   krzan          669684 non-null  bool
 10  endat          2915 non-null    object
 11  fgtyp          669684 non-null  object
 12  kzkom          669684 non-null  bool
 13  enddt          510758 non-null  object
 14  erdat          669683 non-null  object
 15  updat          593485 non-null  object
 16  storn          669684 non-null  bool
 17  stdat          31006 non-null   object
 18  begdt          325582 non-null  object
 19  fatyp          669684 non-null  object
 20  fachr          669684 non-null  object
 21  endtyp         669684 non-null  object
 22  patw           669684 non-null  bool
 23  patgew         669684 non-null  float64
 24  gwein          669684 non-null  object
 25  patgro         669684 non-null  float64
 26  grein          669684 non-null  object
 27  resp           669684 non-null  int64
 28  delgw          669684 non-null  int64
 29  saps_c         669684 non-null  int64
 30  pim2_c         669684 non-null  int64
 31  crib_c         669684 non-null  int64
 32  nems_c         669684 non-null  int64
 33  saps_imc       669684 non-null  int64
 34  pim2_imc       669684 non-null  int64
 35  crib_imc       669684 non-null  int64
 36  nems_imc       669684 non-null  int64
 37  respi_imc      669684 non-null  int64
 38  readm          669684 non-null  bool
 39  retrievaldate  669684 non-null  datetime64[ns]
dtypes: bool(7), datetime64[ns](1), float64(2), int64(11), object(19)
memory usage: 173.1+ MB
None

In [39]:
sql_query_nicp = "select * from kis.nicp;"
nicp = pd.read_sql_query(sql_query_nicp,cnx)
print(nicp.info(max_cols=300, verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874967 entries, 0 to 874966
Data columns (total 27 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   einri          874967 non-null  object
 1   falnr          874967 non-null  object
 2   lnric          874967 non-null  object
 3   lfdbew         874967 non-null  int64
 4   icpmk          874967 non-null  object
 5   icpml          874967 non-null  object
 6   icphc          874967 non-null  bool
 7   anzop          874967 non-null  int64
 8   bgdop          696570 non-null  object
 9   bztop          874967 non-null  object
 10  eztop          874967 non-null  object
 11  lslok          874967 non-null  object
 12  opart          874967 non-null  object
 13  updat          874967 non-null  object
 14  storn          874967 non-null  bool
 15  stdat          99552 non-null   object
 16  drg_category   874967 non-null  object
 17  drg_relevant   874967 non-null  bool
 18  orgfa          874967 non-null  object
 19  orgpf          874967 non-null  object
 20  endop          696629 non-null  object
 21  prtyp          874967 non-null  object
 22  quantity       874967 non-null  float64
 23  unit           874967 non-null  object
 24  ccl            874967 non-null  object
 25  oplebspen      874967 non-null  bool
 26  retrievaldate  874967 non-null  datetime64[ns]
dtypes: bool(4), datetime64[ns](1), float64(1), int64(2), object(19)
memory usage: 156.9+ MB
None

In [ ]:
sql_query_npat = "select * from kis.pat;"
np = pd.read_sql_query(sql_query_nicp,cnx)
print(nicp.info(max_cols=300, verbose=True))